html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.row{
    width: 100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.contenedor {
    display: flex;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    height: 100vh;
    background-image: url(../IMG/fondo_liverpool.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo_principal{
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    color: whitesmoke;
    border: 12px solid #ff0000; 
    display: inline-block;
    
}

.menu_estilo{
    font-size: 1rem;
    padding: 0.5%;
    font-family: 'Nunito Sans', sans-serif;
}

.columna-lateral {
    width: 33.33%;
    background-color: #f2f2f2;
    padding: 10px;
    float: left;
    box-sizing: border-box;
}
.columna_lateral2 {
    width: 33.33%;
    font-family: 'Nunito Sans', sans-serif;
}

.columna-central {
    width: 43%;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding-left: 15%;
}

.estilo_menu {
    text-decoration: none;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.9rem;
}

.titulo {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

#img-1 {
    height: 30vh;
    background-image: url(../IMG/albertdock.jpg);
    background-size: cover;
    background-position: center;
}

#img-2 {
    height: 30vh;
    background-image: url(../IMG/museo_TheBeatles.jpg);
    background-size: cover;
    background-position: center;
}

#img-3 {
    height: 30vh;
    background-image: url(../IMG/monumento_st.GeorgeHall.jpg);
    background-size: cover;
    background-position: center;
}

#img-4 {
    height: 30vh;
    background-image: url(../IMG/parque_sefton_park.jpg);
    background-size: cover;
    background-position: center;
}

.estilo_lateral{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.titulo2{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.estilo_noticia{
   padding-left: 20%;
}
.mapa{
    width: 500px;
    height: 350px;
}

iframe{
    width: 360px;
    height: 315px;
}
.carousel {
    position: relative;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navigation button {
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.slides input[type="radio"]:checked + .navigation button {
    background-color: #555;
    color: white;
}

@media only screen and (max-width: 700px){

    body{
        margin: 0%
    }
    .carousel {
        max-width: 100%; 
    }

    .columna-lateral {
        width: 100%;
        text-align: center;
    }

    .columna_lateral2 {
        width: 100%;
        text-align: center;
        padding-left: 0%;

    }
    
    .columna-central{
        width: 100%;
        padding-left: 0%;
    }

    .row{
        width: 100%;
    }

    .contenedor {
        display: inline;
    }

    .mapa{
        width: 100%;
    }

    


}


